{% for key, backend in backends.iteritems() %}

PGPASSWORD='{{ env.get(key + '_ENV_POSTGRES_PASSWORD') }}' pg_dumpall \
  -U '{{ env.get(key + '_ENV_POSTGRES_USER') }}' \
  -h '{{ backend['addr'] }}' \
  -p '{{ backend['port'] }}' \
  --clean \
  --file="{{ dump_dir }}/dump-{{ key }}-$(date --utc +%FT%TZ).sql"

{% endfor %}
